<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/copywriting' class='c-nav__link'>Copywriting</a>
</li>
<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/film-tv' class='c-nav__link'>Film/TV</a>
</li>
<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/books' class='c-nav__link'>Books</a>
</li>
<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/' class='c-nav__link'>Journalism</a>
</li>
<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/about' class='c-nav__link'>About</a>
</li>
